.cardset-item{
  vertical-align: middle !important;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}
.learning-icon{
  display: inline-block;
  font-size: 13px;
  span{
    padding: 7px 25px 7px 5px;
    background: $sky;
    border-radius: 0.25rem;
    color: white;
    position: relative;
    user-select: none;
    white-space: nowrap;
  }
  a {
    position: relative
  }
  .fa-pencil-alt{
    position: absolute;
    right: 5px;
    color: white;
  }
}

@media screen and (max-width: 600px){
  .cardset-item--name{
    display: none !important
  }
}