.start-box{
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
}
.start-msg{
  font-size: 30px;
}
.start-btn{
  font-size: 50px;
}
.word-card {
max-width: 500px;
margin: 30px auto;
height: 226px;
font-size: 50px;
border: 1px solid #999;
box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
background-color: white;
border-radius: 5%;
align-items: center;
}

.word-info{
  width: 100%;
  padding-top: 65px;
  text-align: center;
  .upper-info{
  //   display: flex;
  // .word-index{
  //   width: 30%;
  //   text-align: center;
  // }
  // .word-name{
  //   width: 70%;
  // }
  }
  .lower-info{
    margin-top: 10px;
    text-align: center;
  }
}

.word-meaning{
  font-size: 30px;
  margin-top: 60px;
}

.answer-rate{

  &__message{
    font-size: 30px;
    font-weight: bold;
  }
}

#timer {
  font-size: 30px;
  z-index: 10;
  float: right;
  position: fixed;
  top: 32px;
  right: 30px;
}


@media screen and (min-width:480px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  .word-card {
    height: 300px;
    font-size: 50px;

    .word-meaning{
      font-size: 50px;
      margin-top: 60px;
    }
  }
  #timer{
    font-size: 50px;
  }
}
@media screen and (min-width:768px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/

  .word-card {
    height: 350px;
    font-size: 50px;

    .word-meaning{
      font-size: 50px;
      margin-top: 60px;
    }
  }

  #timer{
    font-size: 100px;
  }
}

.word-test{
  width: 100%;
  height: 1000px;
  margin-top: 50px;
  padding: 50px 0;
}

.select-answers{
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;

  .selector{
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;

    &:hover{
      background: #67c5ff;
      color: white;
    }
  }

  .next{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border: solid 2px $yellow;
    border-radius: 3px;
    transition: .4s;
    background: white;

    &:hover{
      background: $yellow;
      color: white;
    }
  }
}

