-# - breadcrumb :edit_student, @student
-# =render "layouts/breadcrumbs"  
.cm-container  
  .mypage-wrapper 
    .mypage-content
      %h1.page-title 生徒情報編集
      .mb-3.p-3
        = render partial: 'form', locals: { student: @student}
