- breadcrumb :mypage, @student
=render "layouts/breadcrumbs"    
.cm-container 
  .mypage-wrapper 
    .right-content
      =render partial:  'mypage/mypage-tab'
    .left-content
      =render partial:  'mypage/user-info', locals: {user: @student}
      =render partial: 'mypage/latest-news'
      =render partial: 'mypage/side-bar'


   