- breadcrumb :new_teacher_classrooms_student, @teacher, @classroom
=render "layouts/breadcrumbs"  
.cm-container  
  .mypage-wrapper 
    .mypage-content
      %h1.page-title 生徒登録
      .mb-3.p-3
        = render partial: 'form', locals: { student: @student}



