.word-card
  .word-info
    .upper-info
      -# .word-index=words.index(word) + 1
      .word-name=word.name
    .lower-info
      .answer{"data-answer": "#{word.meaning}"} 
      .word-detail
        %p= word.meaning