
.cm-container  
  .mypage-content.main-content
    .p-3
      -if current_teacher
        =link_to 'テスト用の学習セット一覧はこちら', test_index_teacher_cardsets(current_teacer)
      =render partial: 'index', locals: {title: '学習セット', cardsets: @cardsets}
