.cm-container  
  .mypage-content.main-content
    .p-3
      -if current_teacher
        =link_to 'テスト用のフラッシュカード一覧はこちら', test_index_teacher_cardsets_path(current_teacher)
      =render partial: 'shared/index', locals: {title: 'フラッシュカード', cardsets: @cardsets}

