= f.fields_for :words do |w|
  .TermRows.mt-5
    %div
      .TermRows-termRowWrap
        .TermRow
          .TermContent 
            .TermContent-inner
              .StudiableItemToolbar
                %span.StudiableItemToolbar-counter 
                .StudiableItemToolbar-editableToggles
                .StudiableItemToolbar-actionableToggles
                  %span.ContextToggle
                    %button.UIButton.UIButton--borderles{ "area-label": "このカードを削除", tabindex: -1}
                      %span.UIButton-wrapper
                        %i{class:"fa fa-trash", "aria-label": "delete"}
              .TermContent-inner
                .TermContent-sides
                  .TermContent-sideWrap
                    .TermContent-side.TermContent-side--word               
                      .WordSide
                        .SpecialCharacterTextarea
                          %label.UITextarea
                            .UITextarea-content
                              .AutoExpandTextarea.UITextarea-textarea.UITextarea-autoExpandTextarea
                                .AutoExpandTextarea-sizer
                                .AutoExpandTextarea-wrapper
                                  =w.text_area :name, class:"AutoExpandTextarea-textarea", placeholder: ""
                                  =w.check_box :_destroy, style: "display:none"
                              %span.UITextarea-border
                            %span.UITextarea-label
                              %span 用語
                      %span
                        .TermContent-autosuggestContext
                          .AutosuggestContext
                            .AutosuggestContext-suggestions.word-result
                                    
                    .TermContent-side.TermContent-side--definition
                      .DefinitionSide
                        .SpecialCharacterTextarea
                          %label.UITextarea
                            .UITextarea-content
                              .AutoExpandTextarea.UITextarea-textarea.UITextarea-autoExpandTextarea
                                .AutoExpandTextarea-sizer
                                .AutoExpandTextarea-wrapper
                                  =w.text_area :meaning, class:"AutoExpandTextarea-textarea"
                              %span.UITextarea-border
                            %span.UITextarea-label
                              %span 定義
                      %span
                        .TermContent-autosuggestContext
                          .AutosuggestContext
                            .AutosuggestContext-suggestions.definition-result
      .TermRowSeparator

  

