- breadcrumb :teacher_mypage, @teacher
=render "layouts/breadcrumbs"   
.cm-container  
  .mypage-wrapper 
    .right-content
      =render partial:  'mypage/mypage-tab'
    .left-content
      =render partial:  'mypage/user-info', locals: {user: @teacher}
      =render partial: 'mypage/latest-news'
      =render partial: 'mypage/side-bar'


    