
.cm-container
  .main-content
    .p-3
      .game-btn-wrapper
        .game-btn-box.game-btn-box--red
          .game-btn-title 
            %p Who am I ?
          .game-btn-link
            =link_to '説明をみる', whoami_explain_path
            =link_to 'はじめる', '#'
        .game-btn-box.game-btn-box--blue
          .game-btn-title 
            %p Description
          .game-btn-link
            =link_to '説明をみる', '#'
            =link_to 'はじめる', '#'
        .game-btn-box.game-btn-box--yellow
          .game-btn-title 
            %p Tongue Twister
          .game-btn-link
            =link_to '説明をみる', '#'
            =link_to 'はじめる', '#'
        .game-btn-box.game-btn-box--purple
          .game-btn-title 
            %p Loud Speaker
          .game-btn-link
            =link_to '説明をみる', '#'
            =link_to 'はじめる', '#'



        