.mypage-wrapper {
  margin: 40px auto 0;
}
.left-content {
  width:30%;
  margin: 0 60px 0 0;
  font-family: sans-serif;
}
.right-content { 
  width:70%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}


@media screen and (max-width:768px){ 
  /*　画面サイズが480pxからはここを読み込む　*/
  .left-content {
    width:100%;
    margin-top: 100px;
  }
  .right-content {
    width:100%
  }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  .mypage-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .left-content {
    width:30%;
    margin-top: 0;
    padding-left: 30px;
  }
  .right-content {
    width:70%
  }
}
@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .mypage-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .left-content {
    width:30%;
    margin-top: 0;
    padding-left: 30px;
  }
  .right-content {
    width:70%;
  }
}


.mypage-tab-section {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  .mypage-tabs{
    margin: -2px 0;
    border: 0;
    font-size: 0;
    display: block;
    li {
      cursor: pointer;
      writing-mode: vertical-rl;
      width: 40px;
      line-height: 40px;
      height: 90px;
      padding: 5px 0;

      &.red{
        background: $red;
      }
      &.orange{
        background: $orange;
      }
      &.yellow{
        background: $yellow;
        a{
          height: 60px;
          margin: auto 0;
        }
      }
      &.green{
        background: $green;
      }
      &.blue{
        background: $blue;

        a{
          height: 50px;
          margin: auto 0;
        }
        
      }
      &.purple{
        background: $purple;
        a{
          height: 50px;
          margin: auto 0;
        }
      }
    }
    a {
      display: block;
      color: white;
      font-size: 12px;
      text-decoration: none;
    }
      
    .active{
      width: 50px;
      line-height: 50px;
      box-shadow: 6px 0px 4px -2px rgba(0, 0, 0, 0.24);
    }

    &--second{
      li{
        width: 50%;
      }
    }
  }
}

.mypage-content {
  display: block;
  background: white;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0,0,0,.24);
  width: 100%;
  .mypage-item {
    display: none;
    margin: 0 40px 0 40px;
    position: relative;
    height: 600px;
  }
  .active{
    display: block;
  } 
}

@media screen and (max-width: 576px){

  .mypage-content .mypage-item{
    height: 530px;
    margin: 0;
  }
  .mypage-tabs{
    display: none !important;
  }

  .slick-dots{
    bottom: -40px !important;
  }
}

.item-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-top: 50px;
  &-title{
    font-style: italic;
  }
  &-date{
    font-size: 18px;
  }
}

@media screen and (max-width: 850px){
  .item-header {
    display: block;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    &-title{
      font-style: italic;
      &--red{border-bottom: 5px solid $red;}
      &--orange{border-bottom: 5px solid $orange;}
      &--yellow{border-bottom: 5px solid $yellow;}
      &--green{border-bottom: 5px solid $green;}
      &--blue{border-bottom: 5px solid $blue;}
      &--purple{border-bottom: 5px solid $purple;}
      
    }
    &-date{
      position: relative;
      font-size: 15px;
    }
  }


}


.sensei-note{
  width: 90%;
  max-width:300px;
  margin-top: 50px;
  position:relative;
  z-index:0;

  ul li{
    font-family: 'M PLUS 1p', cursive;
    font-size: 12px;
    margin: 1.6em 0;
    padding: 1em;
    z-index:0;
    /* グラデーションで折り目がついた感じに */
    background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
    
    &::after{
      content:"";
      display:block;
      position: absolute;
      z-index: -1;
      bottom: 5px;
      right: 0;
      height: 15px;
      width: 64%;
      background: rgba(0,0,0,0.5);
      box-shadow: 0 6px 5px rgba(0,0,0,0.3);
      transform: rotate(2deg);

    }
  }
}


.maypage-button-wrapper{


  strong{
    margin-left: 20px;
    font-size: 60px;
  }
}

@media screen and (max-width: 576px){
  .sensei-note ul li{
    margin-left: 20px;
  }

  .maypage-button-wrapper{
    margin: 0 auto;
    width: 60%;
    text-align: center;

    strong{
      font-size: 35px;
      margin: 0;
    }
  }
}


.search-form { 
  width: 100%;
  position: relative;

  &__input{
    width: 100%;
    height: 40px;
    padding:0 50px 0 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
    border: solid 1px #CCCCCC;
    font-size: 16px;
  }

  &__btn{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
  }
}


