
.side-bar{
  font-size: 14px;
  margin-bottom: 40px;
  p{
    font-weight: bold;
    font-size: 16px;
  }
  &__menu{
    border-bottom: 1px solid #f3f1f2;
    &:hover{
      .side-bar__menu--link{
        background: $yellow;
        text-decoration: none;
        color: white;
       }
      .fa-chevron-right, .fa-chevron-down{
        color: rgb(51, 51, 51);
        transition: all 0.3s ease 0s;
        transform: translateX(0.25em);
      }
    }

    a{
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: white;
      font-size: 14px;
      color: #333;
  
      .fa-chevron-right, .fa-chevron-down, .fa-chalkboard-teacher {
        display: block;
        margin: 0 0 0 auto;
        color: #ccc;
        position: absolute;
        font-size: 16px;
      }
      .fa-chalkboard-teacher {
        left:10px;
        top:18px;
      }

      .fa-chevron-right, .fa-chevron-down{
        right:15px;
        top:18px;
      }
    }
  }

  .droplist {
    display: none;

    .droplist-item{
      a{
        padding-left: 45px;
        &:hover{
          background: #eee;
          .fa-chalkboard-teacher{
            color: rgb(51, 51, 51);
            transition: all 0.3s ease 0s;
            transform: translateX(0.25em);
          }
        }
      }
    } 
  }
}


.droplist-opener {
  position: relative;
  cursor: pointer;
  &:hover {
    .droplist{
      display: block;
      // visibility: visible;
      z-index: 2;
    }
  } 
}



.latest-news{
  .news-list{
    padding: 10px;
    font-size: 14px;
    margin-bottom: 40px;
    background-color: white;

    .news-item{
      border-bottom: 1px solid #eee;

      a{
        display: block;
        min-height: 20px;
        padding: 16px;
      }
    }

    .go-news-index{
      border: 0;
      position: relative;
      a{
        display: block;
        height: 60px;
        margin: 0 auto;
        background: #eee;
        color: #333;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
      }
    }
  }
}



#modal-main{
  display: none;
  width: 500px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #666666;
  position: fixed;
  z-index: 100;
}

  /* モーダル 背景エリア */
#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}