%section.user-info
  .back-image
    %a
      %figure
        = image_tag 'mypage/user-icon.png', size: '60x60', alt: 'user-icon'
      %h2.bold 
        = @user.name
      .user-info__user-rate
        %p.user-info__user-rate__review thanks
        %span 0
        %p.user-info__user-rate__exhibit good
        %span 0