- breadcrumb :mypage, @user
=render "layouts/breadcrumbs"    
.mypage-wrapper 
  .left-content
    =render partial: 'side-bar'
  .right-content
    =render partial:  'user-info'
    =render partial:  'mypage-tab'

    %section.mypage-tab-section
      %ul.mypage-tabs.mypage-tabs--second
        %li.active
          %h3
            =link_to "#" do
              grammar comprehence
        %li
          %h3
            =link_to "#" do
              chatting skill

      .mypage-content        
        .mypage-item.active
          .point-boxes
            .point-box
              .point-box__number
                %strong 120
              .point-box__name
                %p 達成度_______________
          =link_to '問題を解く', '#', class: "nav-link"
          =link_to '文法王チャレンジ', '#', class: "nav-link"

        .mypage-item
          .point-boxes
            .point-box
              .point-box__number
                %strong 120
              .point-box__name
                %p 達成度_______________ 
          .search-form
            %input{class: "search-form__input" , size: "20", placeholder: "トピックをランダムに表示します"} 
            %button{type: "submit", class: "search-form__btn"}
              %i.fas.fa-search
          =link_to '雑談王', '#', class: "nav-link"



    
    