- breadcrumb :root
=render "layouts/breadcrumbs"  
.cm-container  
  .mypage-wrapper 
    .test-gates.row
      -if current_student
        =render partial: 'test_gate', locals: {msg: "テストをはじめる", path1: word_king_menu_teacher_cardsets_path(current_student.teacher)} 
      -else
        =render partial: 'test_gate', locals: {msg: "テストを作成する", path1: test_index_teacher_cardsets_path(current_teacher)} 
              


